@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.df {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.btn:active {
  scale: 1.1;
  box-shadow: 0px 0px 5px white;
}

.tel {
  font-size: 8vw;
}

.number__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.number__btn {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}

.number__btn:active {
  scale: 1.1;
  box-shadow: 0px 0px 5px white;
}

.model {
  position: absolute;
  top: 15px;
  display: grid;
  grid-template-columns: repeat(1, 50%);
  justify-content: center;
  gap: 10px;
  width: 700px;
  height: 150px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  display: none;
}
.model__input {
  padding-left: 5px;
}
.model__add {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  transition: 0.4s;
}
.model__add:hover {
  background-color: transparent;
  color: #000;
}
.model__cancel {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  transition: 0.4s;
}
.model__cancel:hover {
  background-color: transparent;
  color: #000;
}

.show {
  display: grid;
}